@model IEnumerable<Theater.Genres>

@{
    ViewData["Title"] = "Index";
}

<h1>Список жанрів</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Додати жанр</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GnName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GnName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GnId" class="btn btn-warning">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.GnId" class="btn btn-info">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.GnId" class="btn btn-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
